.Gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.407);
  padding: 50px 120px 50px 120px;
}

.Gallery-top h1 {
  text-align: center;
  font-size: 2.3rem;
}

.Gallery-top p {
  color: rgb(74, 74, 74);
  font-size: 1.2rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  gap: 20px; /* space between images */
}
.image-grid img {
  height: 300px; /* fixed height */
  width: 100%; /* fill container width */
  object-fit: cover; /* crop overflow, keep aspect ratio */
  border-radius: 8px;
  display: block; /* remove inline gap */
}

.social-icons-container {
  display: flex;
  gap: 20px; /* space between icons */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  margin: 20px 0;
}
.social-icon {
  color: #555;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #e4405f; /* example hover color */
}

.Gallery-bot p {
  color: rgb(74, 74, 74);
  font-size: 1.4rem;
}
